@model IEnumerable<WorldOfTravels.Models.GroupByCountry>

@{
    ViewData["Title"] = "Graphs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .bar {
        fill: green;
    }

        .bar:hover {
            fill: orange;
        }
</style>

<h2>Posts Statistics</h2>
<br />

<div>
    <h3>The most popular countries by how many posts they have</h3>
    <br />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CountryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPosts)
            </th>
        </tr>

        @{
            foreach (var post in Model)
            {
                <tr>
                    <td>
                        @post.CountryName
                    </td>
                    <td>
                        @post.TotalPosts
                    </td>
                </tr>
            }
        }
    </table>
    <br />
</div>

<section>
    <h4>Pie Chart</h4>
    <div id="countries-pie-chart" class="col-md-6 center-tag"></div>
</section>
<hr />

<div>
    <h3>The most popular posts by how many comments they have</h3>
    <br />
    <section>
        <h4>Bar Chart</h4>
        <svg id="posts-comments-bar-chart" width="960" height="500"></svg>
    </section>
</div>

<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="~/lib/graph.js"></script>
<script src="~/lib/jquery/jquery-1.10.2.js"></script>

<script>
    $.ajax({
        url: '/Posts/GetGroupByCountry',
        success: function (data) {
            createPopularCountriesGraph(data, "countries-pie-chart");
        }
    })
</script>
<script>
    $.ajax({
        url: '/Posts/GetCommentsGroupByPost',
        success: function (data) {
            createBarChartGraph(data, "posts-comments-bar-chart", "Total Comments");
        }
    })
</script>
