@{
    ViewData["Title"] = "Contact Us";
}
<h2>@ViewData["Title"]</h2>

<div class="col-md-6">
    <iframe width="500" height="400" frameborder="0" src="https://www.bing.com/maps/embed?h=400&w=500&cp=32.07755828621075~34.77721283938837&lvl=14&typ=s&sty=r&src=SHELL&FORM=MBEDV8" scrolling="no"></iframe>
</div>

<div class="col-md-6">
    <address>
        Find Waldo st.<br />
        Tel Aviv, 98052-6399<br />
    </address>
</div>
