@{
    ViewData["Title"] = "Home";
}

<h1 style="text-shadow: 2px 2px 0px #fff; font-family: 'Dosis', sans-serif;">
    World Of Travels
</h1>
<p class="lead">Discover all of the world's most mysterious secret experiences</p>

<div class="row">
    <div class="col-md-6">
        <h2>Learn From Our User's Posts</h2>
        <p>
            Darn pretty organized design expedition simple website blogger cute. Colorful adventure wanderlust wanderlust
            excursion excursion darn. Whimsical Travel simple Travel clean, pretty fun webdesign clean Travel
            website expedition. Fun wanderlust modern clean traveler excursion Travel, traveling blogger adventure
            expedition. Clean whimsical travelblogger traveling whimsical, travelblogger travelblogger whimsical
            design colorful.
        </p>
        <p>
            Fun WordPress design design adventure Travel travelblogger clean clean, webdesign traveler whimsical
            adventure fun. WordPress design pretty adventure clean clean adventure.
            Wanderlust pretty adventure organized expeern excursion design clean pretty, 
            traveling adventure adventure webdesign wanderlust. Expedition simple wanderlust fun blogger excursion
            Travel excursion. Darn design whimsical expedition expedition blogger blogger.
        </p>
    </div>
    <div class="col-md-6">
        <img src="~/images/Night Travel.jpg" alt="ASP.NET" class="img-responsive" />
    </div>
</div>
