@{
    ViewData["Title"] = "Home";
}

<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/he_IL/sdk.js#xfbml=1&version=v3.1&appId=71958063747&autoLogAppEvents=1';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<h1 style="text-shadow: 2px 2px 0px #fff; font-family: 'Dosis', sans-serif;">
    World Of Travels
</h1>
<p class="lead">Discover all of the world's most mysterious secret experiences</p>

<div class="row">
    <div class="col-md-3">
        <div class="fb-page" data-href="https://www.facebook.com/IWantToTravelTheWholeWorld/" data-tabs="timeline" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/IWantToTravelTheWholeWorld/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/IWantToTravelTheWholeWorld/">‏‎I Want to Travel the Whole World‎‏</a></blockquote></div>
    </div>
    <div class="col-md-9">
        <img src="~/images/Night Travel.jpg" alt="ASP.NET" class="img-responsive" />
    </div>
</div>
