@model WorldOfTravels.Models.Country

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit Country</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" for="Continent">Continent</label>
                <div>
                    <select asp-for="Continent" asp-items="Html.GetEnumSelectList<Continent>()" class="form-control dropdown"></select>
                    @Html.ValidationMessageFor(model => model.Continent)
                    <span asp-validation-for="Continent" class="text-danger" rows="2"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="IsTropical" class="control-label"></label>
                <input asp-for="IsTropical" class="checkbox" />
                <span asp-validation-for="IsTropical" class="text-danger" rows="2"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
